/*===================
    VARIABLES
===================*/
:root{
    /* Modo oscuro (dk)*/
    
     /* Modo claro (lh)*/

}

/*===================*/

/*===================
    RESET Y BASE
===================*/

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main{
    flex: 1;
}